[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oauth2client = "*"
gspread = "*"
cairosvg = "*"
pycairo = "~=1.12.0"
black = "*"
mypy = "*"
pycodestyle = "*"

[dev-packages]

[requires]
python_version = "3.9"
